
.form{
    margin-top: 100px;
} 

.bodyLogin{
    width: 100%;
    height: 99.5vh;
    /* background-color: #333333; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-image: url("background_login.jpg"); */
    /* background-position: center; */
    /* border-style: solid; */
    background-color: #ebebeb;
    display: flex;
    flex-direction: row;
    /* padding-top: 3%;
    padding-bottom: 7%; */

}

.backgroundLogin{
    width: 50%;
    border: violet;
    background-image: url("Security\ on\ Customizable\ Isometric\ Illustrations\ _\ Amico\ Style.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10px;
}


.containerLogin{
    margin: auto;
    /* margin-top:5%; */
    /* margin-bottom: 10%; */
    width: 400px;
    height: 500px;
    border-style: solid;
    border-color:  #856299;
    border-radius: 20px;   
    text-align: center;
    padding: 7px;
    /* background-color: black; */
    background-color: #455a64;
}

.labelChief{
    font-size: 40px;
    color:blue
}
.labelNex{
    font-size: 40px;
    color:white
}
.garisAtas{
    width: 85%;
    height: 1px;
    background-color: white;
}
.power{
    font-size: 12px;
    color: white;
}
.userName{
    margin:auto;
    margin-right: 10.5vh;
    width: 50%;
    height: 25px;

}
.password{
    margin:auto;
    margin-left: 2vh;
    width: 28vh;
    height: 25px;

}
.login{
    margin-top: 45px;
    width: 65%;
    height: 40px;
    background-color: blue;
    color: white;
}
.buatAkun{
    color: white;
    margin-top: 15px;
    cursor: pointer;
}
.buatAkun:hover{
    text-decoration: underline;
}

.usernameDiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
    margin-top: 20vh;
    padding-left: 3vh;
}

.fa-user-circle{
    margin: auto;
    margin-left: 10vh;
}

.passDiv{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    padding-left: 3vh;
}

.passDiv2{
    display: flex;
    flex-direction: row;
    margin-right: 18vh;
}

.fa-lock{
    margin: auto;
    margin-left: 10vh;
}