.bodyHome{
    width: 100%;
    height: 100%;
}

.containerHome{
    text-align: center;
    width: 100%;
    height: 88vh;
    /* background-color: #7A7E6C; */
    /* background-color: #32393c; */
    background-image: linear-gradient(to bottom, #856299, #5d5d89, #415471, #354756, #32393c);
    margin: auto;
    display: flex;
    flex-direction: row;
}
.headerHome{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 12vh;
    width: 100%;
    background-color:  #856299;
    /* border: solid; */
    display: flex;
    flex-direction: row;
}

.menuBaru{
    width: 50%;
    padding-left: 20vh;
    padding-top: 5vh;
}

.gambarBaru{
    width: 52%;
    margin-right: 11vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #32393c; */
    background-image: url("Invoice\ Illustrations\ _\ Amico\ Style.png");

}

.nexText{
    color: white;
    font-size: 100px;
    margin: auto;
}

.chiefText{
    color: blue;
    font-size: 100px;
    margin: auto;
    box-shadow: inset;
}

.welcome{
    width: 50%;
    margin: auto;
    margin-top: 4vh;
    padding-left: 45vh;
    /* margin-right: 20%;
    margin-left: 15%; */
    color: white;
    display: flex;
    flex-direction: row;
}

.logout{ 
    text-align: center;
    width: 9%;
    margin: auto;
    /* margin-left: 0%; */
    margin-top: 1.7vh;
    background-color: #B22222;
    border-color: white;
    color: white;
    border-radius: 9px;
    margin-right: 15vh;
    cursor: pointer;
}
.menuicon{
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 50%;
}
.producticon{
    margin: auto;
    width: 50%;
}
.salesicon{
    margin: auto;
    width: 50%;
}
.reporticon{
    margin: auto;
    width: 50%;
}
.dashboardicon{
    margin: auto;
    width: 50%;
}

.spanHome{
    /* margin: auto; */
    margin-right: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.changePass{
    width: 30%;
    margin: auto;
    margin-left: 3%;
    margin-top: 5vh;
    color: white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.changePass:hover{
    text-decoration: underline;
}

.labelMenu{
    width: 40vh;
    height: 20vh;
    border:solid;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: #828788;
    border-radius: 10px;
    margin-bottom: 5vh;
}

.labelMenu:hover{
    width: 42vh;
    height: 22vh;
}

.nameLabel{
    margin: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
