.prodReportPage{
    height: 100%;
    width: 100%;
}

.headerProdReport{
    width: 100%;
    height: 12vh;
    /* border:solid; */
    background-color: #856299;
    display: flex;
    flex-direction: row;
}

.tbodyProd{
    font-size: smaller
}
.titleProductReport{
    margin-top: 20px;
    margin-left: 20%;
    width: 50%;
    text-align: center;
}
.printProdReport{
    margin: auto;
    text-align: center;
    width: 20%;
    color: white;
    cursor: pointer;
}

.bodyProdReport{
    background-color: #333333;
    width: 100%;
    height: 88vh;
    margin: auto;
}

.container3{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    flex-direction: row;

}
.seacrhProd1{
    margin: auto;
    text-align: center;
    width: 50%;
}

.container4{
    width: 100%;
    text-align: center;
    margin: auto;
    display: none;

    /* padding-left: 5%; */
}

#tableProdReport1{
    margin: auto;
    padding: 2px;
    width: 90%;
    border-collapse: collapse;
    
}

.backProduct{
    width: 13vh;
    height: 7vh;
    background-color: red;
    color: white;
    font-size: large;
    border-radius: 10px;
}

.backToProduct{
    margin-top: 2vh;
    margin-left: 20vh;
}

.custom-toggle.react-toggle--checked .react-toggle-track {
    background-color: #ab199f;
  }

  #tableProdPrint{
    border-collapse:collapse ;
    margin-bottom: 25vh;
  }

  .paginationReportProd{
    background-color: #ddd;
    display: inline-block;
    padding: 0;
    margin: auto;
    /* margin-left: 1.3%; */
    margin-bottom: 13px;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 30%;
    margin-left: 30%;
    justify-content: space-between;
    color: black;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
      
  }
  th, td {
    text-align: left;
    padding: 6px;
  }
  /* tr:nth-child(even){background-color: #DCDCDC} */

th {
  /* background-color: #0000FE; */
  color: white;
  background-color: #020426;
}
td{
    background-color: #DCDCDC
}

.toggleProd{
    width: 50%;
    margin: auto;
}

