.prodReportPage{
    height: 100%;
    width: 100%;
}

.headerProdReport{
    width: 100%;
    height: 15vh;
    /* border:solid; */
    background-color: black;
    display: flex;
    flex-direction: row;
}

.titleProductReport{
    margin-top: 30px;
    margin-left: 20%;
    width: 50%;
    text-align: center;
}
.printProdReport{
    margin: auto;
    text-align: center;
    width: 20%;
    color: white;
    cursor: pointer;
}

.bodyProdReport{
    background-color: #333333;
    width: 100%;
    height: 82vh;
    margin: auto;
}

.container3{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    flex-direction: row;

}
.seacrhProd1{
    margin: auto;
    text-align: center;
    width: 50%;
}

.container4{
    width: 100%;
    text-align: center;
    margin: auto;
    display: none;

    /* padding-left: 5%; */
}

#tableProdReport1{
    margin: auto;
    text-align: center;
    width: 90%;
    border-collapse: collapse;
    
}

.backReport{
    margin-top: 4%;
    margin-left: 80%;
    background-color: #FF0800;
    border: #FF0800;
    color: white;
    box-shadow: 0 6px #800000;
    border-radius: 10px;
    padding: 4px;
}

.custom-toggle.react-toggle--checked .react-toggle-track {
    background-color: #ab199f;
  }

  .paginationReportProd{
    background-color: #ddd;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 1.3%;
    margin-bottom: 13px;
    position: fixed;
    bottom: 0;
    width: 96.4%;
    justify-content: space-between;
    color: black;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
      
  }
  th, td {
    text-align: left;
    padding: 6px;
  }
  /* tr:nth-child(even){background-color: #DCDCDC} */

th {
  /* background-color: #0000FE; */
  color: white;
  background-color: #020426;
}
td{
    background-color: #DCDCDC
}

.toggleProd{
    width: 50%;
    margin: auto;
}

