.bodySales{
    /* border: solid; */
    background-color: #32393c;
    width: 100%;
    height: 100%;
}
.headerSales{
    width: 100%;
    height: 12vh;
    /* border:solid; */
    background-color: #856299;
    display: flex;
    flex-direction: row;
}
.titleSalesPage{
    margin: auto;
    width: 70%;
    text-align: center;
    margin-right: 40vh;
}
.fa-home{
    margin: auto;
    width: 20%;
    margin-left: 10vh;
}
.container1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:auto;
    padding-top:0 ;
}
.addButton{
    margin: auto;
    margin-top: 6vh;
    margin-right: 0vh;
    width: 9%;
    
}
.addSales{
    background-color: #5C97BF;
    color: black;
    box-shadow: 0 6px #1f3a93;
    border-radius: 10px;
    padding: 4px;
    width: 50px;
    margin: auto;
    cursor: pointer;
}
.addSales:hover {
    background-color: #D3D3D3
}
.addSales:active {
    background-color: #D3D3D3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.seacrhSales1{
    /* width: 40%; */
    /* margin-right: 10vh; */
    display: flex;
    flex-direction: row;
    /* margin-right: 0; */
    margin-top: 1vh;
}
.searchSales2{
    width: 250px;
    height:25px;
    margin-top: 4vh;
    margin-left: 0;
    margin-right: 3vh
}
.container2{
    height: 67.5vh;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 3%;
}

#tableSales1{
    margin: auto;
    padding: 2px;
    width: 90%;
    border-collapse: collapse;
}
.tbodySales{
    padding: 3px;
}
.monthly{
    color: aquamarine;
    font-family: Copperplate;
    font-size: 30px;
    margin: auto;
    font-weight: bold;
    letter-spacing: 4px;

}
.salesact{
    color: aliceblue;
    font-family: Candara;
    font-size: 25px;
    margin: auto;
}

.paginationSales{
    /* border: solid; */
    /* width: 30%;
    margin: auto;
    margin-top: 5vh; */
    background-color: #ddd;
    display: inline-block;
    padding: 0;
    margin: auto;
    margin-bottom: 1.2vh;
    position: fixed;
    bottom: 0;
    width: 90%;
    margin-left: 5%;
    justify-content: space-between;
    color: black;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
}
.searchBtnSales{
    /* border:solid; */
    background-color: paleturquoise;
    color: black;
    margin-left: 4vh;
}

.fa-search{
    margin-top: 5vh;
    cursor: pointer;
}

.fa-window-close{
    margin-top: 5vh;
    cursor: pointer;
}

.optionStatus{
    width: 50%;
    margin: auto;
    /* margin-left: 10vh; */
    display: flex;
    flex-direction: row;


}
.optionStatus2{
    height: 4.5vh;
    margin: auto;
    margin-top: 5vh;
    margin-left: 3vh;
}

.labelPrint{
    color: white;
    margin-left: -5vh;
}
.printSales{
    width: 15%;
    margin: auto;
    margin-left: vh;
    margin-right: 0vh;
    margin-top: 2vh;
    cursor:pointer;
}

th{
    text-align: center;
}

.tableSales2{
    border-collapse: collapse;
}

.optionSearch{
    height: 4.5vh;
    margin-top: 5vh;
    margin-right: 2vh;
}

.searchDate{
    display: flex;
}

.searchDate1{
    height: 4vh;
    margin-top: 5vh;
    margin-right: 2vh;
}

.searchDate2{
    height: 4vh;
    margin-top: 5vh;
 }

/* -------------------------PRINT PAGE------------------------ */
.headerPrint{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
}

.logoNex{
    color: #32393c;
    font-size: 40px;

}

.logoChief{
    color: #020426;
    font-size: 40px;
}

.NClogo{
    margin: auto;
    width: 17%;
    text-align: center;
    margin-left: 2%;
}

.logoPrint{
    margin-left: 10px;
    margin: auto;
    /* border: solid; */
    /* background-color: #32393c; */
    height:50px;
    margin-left: 3vh;
}

.headerPrint2{
    width: 75%;
    margin: auto;
    text-align: center;
}

.tdPrint{
    padding: 2px 5px 2px 5px;
    /* font-size: 10vh; */
    margin:0
}

#tablePrint{
    /* font-size: 10vh; */
    border-collapse:collapse ;
}
.fa-coins{
    color: white;
    font-size: 40px;
}

.labeladd{
    color: white;
}


