.bodySales{
    /* border: solid; */
    background-color: #333333;
    width: 100%;
    height: 100%;
}
.headerSales{
    width: 100%;
    height: 12vh;
    /* border:solid; */
    background-color: black;
    display: flex;
    flex-direction: row;
}
.titleSalesPage{
    margin: auto;
    width: 70%;
    text-align: center;
    margin-right: 40vh;
}
.fa-home{
    margin: auto;
    width: 20%;
    margin-left: 10vh;
}
.container1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:auto;
}
.addButton{
    /* padding: 20px; */
    margin-top: 25px;
}
.addSales{
    margin-left: 150px;
    background-color:#5C97BF ;
    color: black;
    box-shadow: 0 6px #1F3A93;
    border-radius: 10px;
    padding: 4px;
    width: 50px;
}
.addSales:hover {
    background-color: #D3D3D3
}
.addSales:active {
    background-color: #D3D3D3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.seacrhSales1{
    width: 40%;
    margin-left: 7%;
    display: flex;
    flex-direction: row;
    /* margin-right: 0; */
}
.searchSales2{
    width: 250px;
    height:22px;
    margin-top: 5vh;
    margin-right: 2%
}
.container2{
    height: 70vh;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 3%;
}

#tableSales1{
    margin: auto;
    padding: 2px;
    width: 90%;
}
.tbodySales{
    padding: 3px;
}
.monthly{
    color: aquamarine;
    font-family: Copperplate;
    font-size: 30px;
    margin: auto;
    font-weight: bold;
    letter-spacing: 4px;

}
.salesact{
    color: aliceblue;
    font-family: Candara;
    font-size: 25px;
    margin: auto;
}

.paginationSales{
    /* border: solid; */
    /* width: 30%;
    margin: auto;
    margin-top: 5vh; */
    background-color: #ddd;
    display: inline-block;
    padding: 0;
    margin: auto;
    margin-bottom: 1.2vh;
    position: fixed;
    bottom: 0;
    width: 90%;
    margin-left: 5%;
    justify-content: space-between;
    color: black;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
}
.searchBtnSales{
    /* border:solid; */
    background-color: paleturquoise;
    color: black;
    margin-left: 4vh;
}

.fa-search{
    margin-top: 5vh;
    cursor: pointer;
}

.fa-window-close{
    margin-top: 5vh;
    cursor: pointer;
}